.itemContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 25px;
  border: solid 1px black;
}
.itemContainer > .itemNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: black solid 2px;
  font-size: 1.2rem;
  font-weight: 700;
}

.itemContainer > p {
  font-size: 1.1rem;
  font-weight: 500;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.inputsContainer > p {
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 700;
}
.inputsContainer > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputsContainer > div > span {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}

.inputsContainer > div > span > p {
  min-width: 250px;
  font-size: 1rem;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inputsContainer > div > span > input {
  width: 120px;
  height: 40px;
  padding: 8px 5px;
  text-align: center;
}

.inputsContainer > div > span > span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  border: 1px solid black;
  color : black;
  background-color: white;

}

.percentage {
  display: flex;
  align-items: center;
  gap: 20px;
}

.percentage > p {
  font-size: 1.1rem;
  font-weight: 700;
  
}

.percentage > span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 40px;
  border: 2px solid black;
  color : rgb(0, 0, 0);
  font-weight: 700;
}

.results {
  display: flex;
  align-items: center;
  gap: 20px;
}

.results > p {
  font-size: 1.1rem;
  font-weight: 700;
}

.results > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  gap : 2px;
}

.results > div > p {
  font-size: 0.9rem;
  font-weight: 600;
}

.results > div > span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 40px;
  border: 2px solid black;
  color : rgb(0, 0, 0);
  font-weight: 700;
}


